<html>
   <head>
      
   </head>
   
   <body>
        <h1>Coffee Maker</h1>
        <br>
        <br>
        <form method="POST">
            <input type="submit" name="espresso_button" value="Espresso"> 
            <input type="submit" name="lungo_button" value="Lungo">
	</form>
	<br>
	<form method="POST">
		<input type="text" name="time" placeholder="Enter time">
		<input type="submit" name="time_submit" value="Set Timer"><br><br>
		<input type="radio" name="radios" value="Espresso">Espresso<br>
		<input type="radio" name="radios" value="Lungo">Lungo
	</form>
   </body>
</html>
